# **_Stock Market Trend Analysis (2021â€“2025)_**
### Group Members:
- Farhan Haider
- Imran Khan
- Saad Farooq
****

### **Datasets:** Companies Listing.csv, Pakistan Stock Market Data 2021-2025.csv

In [ ]:
import pandas as pd, numpy as np, math, os

In [ ]:
import matplotlib.pyplot as plt, seaborn as sns

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error
from tqdm import tqdm

plt.rcParams['figure.figsize'] = (12,5)
sns.set_theme(style="darkgrid")

In [36]:
# Load datasets
PRICES_CSV = "E:\BS AI\Semester 3\Programming for Artificial Intelligence - AIC 202\Assignments\Semester Project\StockMarketTrendSystem\Pakistan Stock Market Data 2021-2025.csv"
COMPANIES_CSV = "E:\BS AI\Semester 3\Programming for Artificial Intelligence - AIC 202\Assignments\Semester Project\StockMarketTrendSystem\Companies Listing.csv"

# read as strings to guard parsing issues
df = pd.read_csv(PRICES_CSV, dtype=str)
symbol_info = pd.read_csv(COMPANIES_CSV, dtype=str)

print("Raw rows:", len(df), "Company rows:", len(symbol_info))
df.head()

Raw rows: 476696 Company rows: 553

,DATE,SYMBOL,LDCP,OPEN,HIGH,LOW,CLOSE,CHANGE,CHANGE (%),VOLUME
0,1/1/2021,786,11.81,11.94,12.79,11.81,12.07,0.26,2.201524132,121000
1,1/1/2021,AABS,335.97,349,349,336.01,341.73,5.76,1.714438789,1400
2,1/1/2021,ABL,85.37,84.66,85.9,83.85,83.99,-1.38,-1.616492913,125500
3,1/1/2021,ABOT,755.37,756,756,745.01,750.95,-4.42,-0.585143704,2550
4,1/1/2021,ACPL,150.05,153,153.9,148.5,149.48,-0.57,-0.379873376,167100

### 2. Clean column names, parse dates, numeric conversions
- Normalize column names
- Parse date with `dayfirst=True` to handle `DD-MM-YY` and `MM/DD/YYYY`
- Convert numeric columns (remove commas/percent signs)
- Drop rows lacking essential values